## Indice

In [7]:
# TODO

## Heart Failure
#### Brief description

In [8]:
# TODO

## Data Dictionary

|Column|Description|
|------|-----------|
|*Age*|Age of the patient|
|*Age Group*|Such as 21-30 and 31-40 are grouped|
|*Gender*|Sex of the patient|
|*Locality*|Rural or Urban|
|*Marital status*|Married or unmarried|
|*Smoking*|yes/no|
|*Depression*|yes/no|
|*Mortality*|Died= 0 and Alive= 1|
|*Follow.Up*|Number of visiting time|
|*cp*|Chest Pain type chest pain type|
|*Diabetes*|Yes = 0 and No = 1|
|*chol*|cholestoral in mg/dl fetched via BMI sensor|
|*fbs*|(fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)|
|*trestbps*|resting blood pressure (in mm Hg)|
|*rest_ecg*|resting electrocardiographic results|
|--------|Value 0: normal|
|--------|Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)|
|--------|Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria|

In [9]:
# TODO

## Dataset overview

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

from platform import python_version
%matplotlib inline

print("--Packages Loaded!--")
print("Python version: {}".format(python_version()))
print("Pandas version: {}".format(pd.__version__))
print("Numpy version: {}".format(np.__version__))
print("Matplotlib version: {}".format(matplotlib.__version__))
print("Seaborn version: {}".format(sns.__version__))

--Packages Loaded!--
Python version: 3.9.7
Pandas version: 1.4.3
Numpy version: 1.21.5
Matplotlib version: 3.5.1
Seaborn version: 0.11.2

In [3]:
# Reading the dataset and seeing the first 10 rows

df = pd.read_csv("FIC.Full.csv", sep=",", low_memory=False)

df.head(10)

,Age,Age.Group,Gender,Locality,Marital status,Life.Style,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SK.React,Reaction,Mortality,Follow.Up
0,45,41-50,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,3.0,2,0,7,2,1,NO,0,0,60
1,51,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.2,2,0,7,2,1,NO,0,0,15
2,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,3.4,2,0,3,2,1,NO,0,0,6
3,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,2.0,2,1,7,3,1,NO,0,0,52
4,56,51-60,Female,RURAL,MARRIED,YES,NO,FREE,YES,YES,...,4.0,3,2,7,3,1,NO,0,0,34
5,56,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.9,2,2,7,2,1,NO,0,1,32
6,57,51-60,Female,RURAL,MARRIED,YES,YES,PAID,YES,YES,...,0.2,2,0,7,1,1,NO,0,0,60
7,57,51-60,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,0.0,2,1,3,1,1,NO,0,1,3
8,58,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,0.0,1,2,3,3,1,NO,0,0,15
9,58,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,2.8,2,2,6,2,1,NO,0,0,6

In [4]:
print("This dataset has {} rows and {} cloumns".format(df.shape[0], df.shape[1]))

This dataset has 368 rows and 60 cloumns

In [5]:
# Checking the columns

list(df.columns)

['Age',
 'Age.Group',
 'Gender',
 'Locality  ',
 'Marital status                       ',
 'Life.Style                                                                              ',
 'Sleep',
 'Category',
 'Depression',
 'Hyperlipi',
 'Smoking',
 'Family.History',
 'F.History',
 'Diabetes',
 'HTN',
 'Allergies',
 'BP',
 'Thrombolysis',
 'BGR',
 'B.Urea',
 'S.Cr',
 'S.Sodium',
 'S.Potassium',
 'S.Chloride',
 'C.P.K',
 'CK.MB',
 'ESR',
 'WBC',
 'RBC',
 'Hemoglobin',
 'P.C.V',
 'M.C.V',
 'M.C.H',
 'M.C.H.C',
 'PLATELET_COUNT',
 'NEUTROPHIL',
 'LYMPHO',
 'MONOCYTE',
 'EOSINO',
 'Others ',
 'CO',
 'Diagnosis',
 'Hypersensitivity',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'num',
 'SK',
 'SK.React',
 'Reaction',
 'Mortality',
 'Follow.Up']

In [6]:
# Checking for NULL values

df.isna().sum()

Age                                                                                         0
Age.Group                                                                                   0
Gender                                                                                      0
Locality                                                                                    0
Marital status                                                                              0
Life.Style                                                                                  0
Sleep                                                                                       0
Category                                                                                    0
Depression                                                                                  0
Hyperlipi                                                                                   0
Smoking                                                                                     0
Family.History                                                                              0
F.History                                                                                   0
Diabetes                                                                                    0
HTN                                                                                         0
Allergies                                                                                   0
BP                                                                                          0
Thrombolysis                                                                                0
BGR                                                                                         0
B.Urea                                                                                      0
S.Cr                                                                                        0
S.Sodium                                                                                    0
S.Potassium                                                                                 0
S.Chloride                                                                                  0
C.P.K                                                                                       0
CK.MB                                                                                       0
ESR                                                                                         0
WBC                                                                                         0
RBC                                                                                         0
Hemoglobin                                                                                  0
P.C.V                                                                                       0
M.C.V                                                                                       0
M.C.H                                                                                       0
M.C.H.C                                                                                     0
PLATELET_COUNT                                                                              0
NEUTROPHIL                                                                                  0
LYMPHO                                                                                      0
MONOCYTE                                                                                    0
EOSINO                                                                                      0
Others                                                                                      0
CO                                                                                          0
Diagnosis                                                                                   0
Hypersensitivity                                                                            0
cp                                                                                          0
trestbps                                                                                    0
chol                                                                                        0
fbs                                                                                         0
restecg                                                                                     0
thalach                                                                                     0
exang                                                                                       0
oldpeak                                                                                     0
slope                                                                                       0
ca                                                                                          0
thal                                                                                        0
num                                                                                         0
SK                                                                                          0
SK.React                                                                                    0
Reaction                                                                                    0
Mortality                                                                                   0
Follow.Up                                                                                   0
dtype: int64

It seems there aren't NULL values